

@font-face { 
	font-family: "KSM";
	src: url('KlinicSlabMedium.otf'); 
}

@font-face { 
	font-family: "Mission Script";
	src: url('Mission-Script.otf'); 
} 

.body
{
	background: #e9e9e9;
	background-color: #d4d4d4;
	color: #d4d4d4;	
}
#loginlogo
{
	width: 424px;
	height: 198px;
}
#bottom-topbar
{
	
	background: #00bdb3;
	width: 100%;
	height: 11%;
	text-align: center;
	line-height: 28px;
	padding-top: 18px;
}
.bottom-lowbar
{
	margin-bottom: 0px;
	background: #007e7e;
	width: 100%;
	height: 68px;
	text-align: center;
	margin-top: 0px;
	border: 0px;
	padding-top: 15px;
}
.bottom-members
{
	background: #007e7e;
	width: 100%;
	height: 768px;
}
#login-signup
{	
    line-height: 20px;
	font-family: KSM, Rockwell;
	font-size: 40px;
	color: white;		
	text-align: center;	
}

#rounded-input-darkteal
{
	border-radius: 	3px;
	font-family: KSM, Rockwell;
	font-size: 20px;
	background: #007e7e;
	border: 0px;
	color: white;	
}
#rounded-button-register
{
    margin-top: -55px;
	border-radius: 	3px;
	border: 0px;
	height: 47px;
	width: 300px;	
	font-family: KSM, Rockwell;
	font-size: 20px;
	line-height: 10px;	
	background: #ff5050;	
	color: white;	
}

#smallerbutton
{
    border: 0;
    background: teal;
	height: 40px;
	width: 120px;
	text-align: center;		
	line-height: 10px;
	font-family: KSM, Rockwell;
	font-size: 20px;
}

#tatsulok
{
	
	font-family: Mission Script;
	color: white;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 50px;
	font-style: italic;
}

#names
{
	font-color: white;
	color: white;
	font-family: KSM, Rockwell;
	font-size: 20px;
	text-align: center;
}