<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UpDock | Update Profile</title>
    <link rel="stylesheet" href="css/laurenz.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
    <script src="js/vendor/modernizr.js"></script>
</head>
<body class="body">
    <br>
    <div class="row">
        <ul class="left">
            <li><img src="assets/logo_small1.png"></li>
        </ul>
        <!--
        <ul class="right">
            <a class="button radius" href="#">Log In</a>
        </ul>
        -->
    </div>


    <br>
    <div id="bottom-topbar">
        @{
            if (IsPost)
            {
                string address = Request["address"];
                string school = Request["school"];
                string degree = Request["degree"];
                string min_salary= Request["min_salary"];
				string max_salary= Request["max_salary"];
                string description = Request["description"];
                string skills= Request["skills"];
				string pastwork= Request["pastwork"];
                
                    var db = Database.Open("UpDockConnectionString");
                    var queryString = "UPDATE Prospect SET address ='" + address + "', school='" + school + "', degree='" + degree + "', expected_salary_min=" + min_salary + ", expected_salary_max=" + max_salary + ", description='" + description + "', skills='" + skills + "', past_work='" + pastwork + "' WHERE email='" + Session["user_email"] + "'";

                    var query = db.Execute(queryString);
                    db.Close();
                    Response.BufferOutput = true;
                    Response.Redirect("profile.cshtml");
            }
            else {
                
        <form method="post">
            <div class="row">
                <div class="large-6 columns">
                    <label id="login-signup">Update Your Profile</label>
                </div>
            </div>
            <br />
            <div class="row">
				<div class="large-4 columns">
                    <input type="text" name="address" placeholder="Address" id="rounded-input-darkteal">
                </div>
                <div class="large-4 columns">
                    <input type="text" name="school" placeholder="College" id="rounded-input-darkteal">
                </div>
                <div class="large-4 columns">
                    <input type="text" name="degree" placeholder="Degree" id="rounded-input-darkteal">
                </div>
				<div class="large-4 columns">
                    <input type="text" name="min_salary" placeholder="Expected Minimum Salary" id="rounded-input-darkteal">
                </div>
				<div class="large-4 columns">
                    <input type="text" name="max_salary" placeholder="Expected Maximum Salary" id="rounded-input-darkteal">
                </div>			
            </div>
			<div class="row">
                    <div class="large-12 columns">
                        <textarea name="description" placeholder="About Me" id="rounded-input-darkteal"></textarea>
                    </div>
            </div>
			<div class="row">
                    <div class="large-12 columns">
                        <textarea name="skills" placeholder="Skills" id="rounded-input-darkteal"></textarea>
                    </div>
            </div>
			<div class="row">
                    <div class="large-12 columns">
                        <textarea name="pastwork" placeholder="Past Work" id="rounded-input-darkteal"></textarea>
                    </div>
            </div>
            <div class="row">
               <div>
				<input type="submit" value="Update Profile" id="rounded-button-register">
			 </div>
            </div>
        </form>
        }
        }
    </div>
    <div class="bottom-lowbar">
        UpDock © 2014 by Tatsulok.<br>
        De La Salle University, 2401 Taft Avenue, Malate, Manila, Philippines
    </div>

    <div class="bottom-members">
        <br>
        <div class="row">
            <h1 id="tatsulok"> Team Tatsulok </h1>

            <div class="large-3 columns">
                <img src="assets/scarlett1.png">
                <br>
                <h1 id="names"> Laurenz Tolentino </h1>
            </div>

            <div class="large-3 columns">
                <img src="assets/scarlett1.png">
                <br>
                <h1 id="names"> Scarlett Johansson </h1>
            </div>

            <div class="large-3 columns">
                <img src="assets/messi1.png">
                <br>
                <h1 id="names"> Lionel Messi </h1>
            </div>

            <div class="large-3 columns">
                <img src="assets/messi1.png">
                <br>
                <h1 id="names"> Groupmate </h1>
            </div>
        </div>
    </div>
    <!-- Script Part, keep in bottom-->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>